.tree-view-node-data {
  color: #646465;
  padding: .15rem 0;
}

.tree-view-node-data-container:hover {
  background-color: #ededed;
}

.tree-view-node-data-container.focused {
  background-color: #cccedb;
}

.tree-view-node-content {
  display: inline;
  padding-left: .2rem;
}

.caret {
  width: .7rem;
  height: .7rem;
  cursor: pointer;
}

.caret.closed path {
  stroke: #646465;
  fill: none;
}

.caret.open path {
  fill: #646465;
}

.caret.placeholder {
  display: inline-block;
}

