<nav class="navbar navbar-fixed-top navbar-dark">
  <a class="navbar-brand" href="#">ArmViz</a>
  <ul class="nav navbar-nav">
    <li class="nav-item">
      <div ngbDropdown>
        <a class="nav-link" role="button" ngbDropdownToggle>File</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" (click)="openLocalTemplate()">Open Local Template...</a>
          <a class="dropdown-item" role="button" (click)="openQuickstartTemplate()">Open Quickstart Template...</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" role="button" (click)="exportTemplate()">Export Template</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <div ngbDropdown>
        <a class="nav-link" role="button" ngbDropdownToggle>Azure</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" role="button" (click)="deployToAzure()">Deploy to Azure</a>
        </div>
      </div>
    </li>
  </ul>
</nav>
