.navbar {
  background-color: #563d7c;
  padding: .2rem 1rem;
}

.navbar-brand {
  margin-right: 5rem;
}

.nav-item {
  margin: 0 1rem 0 0;
}

.dropdown-menu {
  border-radius: 0rem;
  margin-top: .2rem;
}
