.editor-container {
  height: 100%;
  display: -webkit-flex;
  display: flex;
}

.explorer-container {
  background-color: #f3f3f3;
  width: 30rem;
}

.monaco-container {
  background-color: white;
  width: 100%;
}

