:host {
  height: 100%;
  width: 100%;
}

.app-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 2.8rem;
  display: -webkit-flex;
  display: flex;
  background-color: white;
}
