:host {
  width: 22rem;
  height: 100%;
  /*display: none;*/
}

:host >>> .tree-view-node-data-container {
  padding-left: 1rem;
}

#toolbox-container {
  width: 22rem;
  height: 100%;
  background-color: #f3f3f3;
}

label {
  padding-top: .5rem;
  padding-left: 1rem;
  font-size: .8rem;
  color: #646465;
}
